.contact{
    background: #8cb1ce;
    
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
//        transform: translate(-45%, -45%);
        transition: .5s;
        border: solid black;
        border-radius: 20px;
        padding: 20px 50px;
        opacity: 0;
        img{
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        
    }
    &__phone, &__mail {
        display: flex;
            align-items: center;
        
    }
}