.gallery {
    &__openModal {
        width: 30%;
    }
    &__modalWrapper {
        position: fixed;
        top: 2%;
        right: 5%;
        left: 5%;
        bottom: 2%;
        z-index: 100;
        display: none;
        border-radius: 10px;
        background: black;
        color: #fff;
    }
    &__modalContent {
        margin: auto;
        display: flex;
        margin: auto;

    }
    &__modalClose {
        margin: 0;
        position: absolute;
        display: block;
        right: 18px;
        top: 0px;
        font-size: 34px;
        
        p {
            margin: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__modalCaption {
        width: 60%;
        text-align: center;
        padding: 140px 80px;
        letter-spacing: 3px;
        p {
            line-height: 24px;
        }
    }
    &__modalGalleryWrapper {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 50px;
                &:before {
            content: "";
            position: absolute;
            height: 50%;
            width: 2px;
            background: gray;
            left: 55%;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__modalGAlleryItems {
        width: 40%;
        height: 200px;
        margin: 10px;
     
        img {
            height: 100%;
            width: 100%;
               border-radius: 10px;
        }
    }
}
