.gallery {
    background: #715a3b;
    &__wrapper {
        position: relative;
        margin-top: 100px;
        margin-right: 100px;
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        height: 500px;
        float: right;
    }
    &__transform {
        opacity: 0;
        transform: translateX(-20px);
        &.is-showing {
            opacity: 1;
            transform: translateX(0px);
            transition: .7s;
        }
    }
    &__itemWrapper {
        overflow: hidden;
        margin: 1%;

        border: solid 1px #ffd27d;
        border-radius: 10px;
        transition: .7s;
    }
    &__img {
        position: relative;
        img {
            width: 130%;
            height: 100%;
        }
    }
    &__overLay {
        background: url(../img/2000px-Magnifying_glass_icon.svg.png)white center center;
        opacity: 0;
        background-size: 32% 40%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .6s;
        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
    &__caption {
        text-align: center;
    }
}
