* {
    box-sizing: border-box;
    
    font-family: 'Cabin Sketch',sans-serif;
}
body{
    overflow-x: hidden;
    margin: 0;
    
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
}
