.home {
    &__bg {
        
        background: url(../img/OGMQVU0-min2.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100%;
        background-attachment: fixed;
//        filter: blur(1px);
    }
    
    &__navWrapper {
        display: flex;
        position: fixed;
        flex-direction: row-reverse;
        width: 100%;
        z-index: 20;
        ul {
            margin-right: 20px;
            li {
                display: inline-block;
                margin: 0 20px;
            }
            a {
                font-size: 20px;
            }
        }
    }
    &__langWrapper {
        display: flex;
        width: 100px;
        margin-right: 20px;
        align-items: center;
        .eng {
            background: url(../img/Flag_of_United_Kingdom_-_Circle-512.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        .spa {
            background: url(../img/197593.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        .ger {
            background: url(../img/germ-round-250.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__lang {
        flex-grow: 1;
        height: 32px;
        margin: 2px;
    }
    &__title {
        position: absolute;
        top: 140px;
        right: 200px;
        h1 {
            display: inline-block;
            font-size: 45px;
        }
    }
    &__cow {
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 2%;
        left: 2%;
        background: url(../img/http---pngimagesfree.com-ANIMALS-Cow-Front-face-Cow-PNG-12.png);
        background-size: 100% 100%;
        z-index: 10;
    }
        &__birds {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 10%;
        left: 10%;
        background: url(../img/birds.png);
        background-size: 100% 100%;
        transition: 1s;
        transform: scale(1);
        
    }
}
