* {
  box-sizing: border-box;
  font-family: 'Cabin Sketch',sans-serif; }

body {
  overflow-x: hidden;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: 100vh;
  position: relative; }

.home__bg {
  background: url(../img/OGMQVU0-min2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed; }
.home__navWrapper {
  display: flex;
  position: fixed;
  flex-direction: row-reverse;
  width: 100%;
  z-index: 20; }
  .home__navWrapper ul {
    margin-right: 20px; }
    .home__navWrapper ul li {
      display: inline-block;
      margin: 0 20px; }
    .home__navWrapper ul a {
      font-size: 20px; }
.home__langWrapper {
  display: flex;
  width: 100px;
  margin-right: 20px;
  align-items: center; }
  .home__langWrapper .eng {
    background: url(../img/Flag_of_United_Kingdom_-_Circle-512.png);
    background-repeat: no-repeat;
    background-size: contain; }
  .home__langWrapper .spa {
    background: url(../img/197593.png);
    background-repeat: no-repeat;
    background-size: contain; }
  .home__langWrapper .ger {
    background: url(../img/germ-round-250.png);
    background-repeat: no-repeat;
    background-size: contain; }
.home__lang {
  flex-grow: 1;
  height: 32px;
  margin: 2px; }
.home__title {
  position: absolute;
  top: 140px;
  right: 200px; }
  .home__title h1 {
    display: inline-block;
    font-size: 45px; }
.home__cow {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 2%;
  left: 2%;
  background: url(../img/http---pngimagesfree.com-ANIMALS-Cow-Front-face-Cow-PNG-12.png);
  background-size: 100% 100%;
  z-index: 10; }
.home__birds {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: url(../img/birds.png);
  background-size: 100% 100%;
  transition: 1s;
  transform: scale(1); }

.gallery {
  background: #715a3b; }
  .gallery__wrapper {
    position: relative;
    margin-top: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 500px;
    float: right; }
  .gallery__transform {
    opacity: 0;
    transform: translateX(-20px); }
    .gallery__transform.is-showing {
      opacity: 1;
      transform: translateX(0px);
      transition: .7s; }
  .gallery__itemWrapper {
    overflow: hidden;
    margin: 1%;
    border: solid 1px #ffd27d;
    border-radius: 10px;
    transition: .7s; }
  .gallery__img {
    position: relative; }
    .gallery__img img {
      width: 130%;
      height: 100%; }
  .gallery__overLay {
    background: url(../img/2000px-Magnifying_glass_icon.svg.png) white center center;
    opacity: 0;
    background-size: 32% 40%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .6s; }
    .gallery__overLay:hover {
      opacity: .7;
      cursor: pointer; }
  .gallery__caption {
    text-align: center; }

.gallery__openModal {
  width: 30%; }
.gallery__modalWrapper {
  position: fixed;
  top: 2%;
  right: 5%;
  left: 5%;
  bottom: 2%;
  z-index: 100;
  display: none;
  border-radius: 10px;
  background: black;
  color: #fff; }
.gallery__modalContent {
  margin: auto;
  display: flex;
  margin: auto; }
.gallery__modalClose {
  margin: 0;
  position: absolute;
  display: block;
  right: 18px;
  top: 0px;
  font-size: 34px; }
  .gallery__modalClose p {
    margin: 0; }
  .gallery__modalClose:hover {
    cursor: pointer; }
.gallery__modalCaption {
  width: 60%;
  text-align: center;
  padding: 140px 80px;
  letter-spacing: 3px; }
  .gallery__modalCaption p {
    line-height: 24px; }
.gallery__modalGalleryWrapper {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 50px; }
  .gallery__modalGalleryWrapper:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 2px;
    background: gray;
    left: 55%;
    top: 50%;
    transform: translate(0, -50%); }
.gallery__modalGAlleryItems {
  width: 40%;
  height: 200px;
  margin: 10px; }
  .gallery__modalGAlleryItems img {
    height: 100%;
    width: 100%;
    border-radius: 10px; }

.contact {
  background: #8cb1ce; }
  .contact__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s;
    border: solid black;
    border-radius: 20px;
    padding: 20px 50px;
    opacity: 0; }
    .contact__wrapper img {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
  .contact__phone, .contact__mail {
    display: flex;
    align-items: center; }

/*# sourceMappingURL=main.css.map */
